numpy>=1.26,<2.2
safetensors>=0.4.0,<0.5
huggingface-hub>=0.24,<0.25
einops==0.7
sentencepiece==0.2
sounddevice==0.5
sphn>=0.1.4,<0.2
torch==2.10.0
aiohttp>=3.10.5,<3.11
accelerate>=1.12,<1.13
python-dotenv==1.1.1
